.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .recipeHeader{

    color: #264653;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
  }
  
  .recipe {
      flex-basis: 28%;
      margin: 1em;
      padding: 2em;
      color: #264653;
      border: 5px solid #f4a261;
      background-color: lightyellow;
      height: 95.7%;
      font-size: large;
      width: auto;
      border-radius: 5px;
      
  }

  .recipeIngredients{
      display: grid;
      grid-template-columns: auto;
  }



  .ingredientSearch{
      display: flex;
      flex-flow: column nowrap;
      
  }
 

 
    textarea {
       border-radius: 5px;
       border-width: .1px;
      }

      input{
          width: 500px;
      }
  

  .recipeIngredient:hover{
      background-color: #264653;
      color: white;
      opacity: 60%;
      font-size: 24px;
  }

  .recipeIngredient {
      background-color: white;
      font-weight: bold;
      letter-spacing: 2px;
      padding:5px
  }
 
  .deleteIngredient {
      border-radius: 50%;
       color: black;
      height: 25px;
      width: 25px;
      margin: auto;
    vertical-align: middle;
  }

  .view {
      float: right;
  }
  .detailsBox{
      height:100%;
      width: 100%;
      margin-bottom: 20px;
  }
  
  .recipeSearch{
      display: flex;
      justify-content: center;
      width: auto;
      margin:25px
  }

  .recipeForm{
    padding: 5px;

  }

  .recipeDetails{
      width:100%;
      display: table;
      justify-content: space-evenly;
  }


  .detailView {
    
  }