@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.menuHeader {
    font-family: 'Allura', cursive;
    text-align: center;
    font-weight:bolder;
    border-bottom:2px solid #e76f51;
    font-size: 50px;
    padding:3px ;
  }

  .menuAdd {
      text-align: center;
      width: 10%;
      margin-left: 45%;
      margin-top: 2%;
    
  }
 .menuRecipes{
     display:table;
     flex-flow: column;
     height:auto;
     margin-left: 15%;
     
 }

 .menuCheck {
     /* float: left; */
     width: 1%;
     margin: 5px;
     /* justify-content: flex-start; */
 }
 

 .favList {
     display: grid;
     grid-template-columns: auto auto auto;
     overflow-x: scroll;
     height: 500px;
     background-color: #264653;

 }


 .footerModal {
height: 60px;
justify-content: center; }

 .header {
     margin-left: 35%;
 }

 .modalContent{
     width: 500px;
 }

.menuItem {
    border-bottom:1px groove #e76f51;
    border-radius: 15%;
    width: 25%;
    margin-left: 38%;
    padding: 30px 0 0 0;


}

.menuItemTitle {
text-align: center;
    padding: 30px 0 0 0;
width: auto;
}

.menuContainer{
    display: grid;
    justify-content: center;
}

