.ingredients {
    width:auto;
    height: auto;
    overflow-y: scroll;
    scrollbar-color: black;
    scrollbar-width: thin;
    border: black solid 1;
    display:flex;
    flex-flow: column-reverse wrap;
    justify-content: space-evenly;
}

.grocery {
    font-weight: bolder;
    
}

.list{
    font-size: 22px;
font-weight: bold;
border-bottom:.5px dotted #e76f51;
}

.menuIngredientList {
    width: 60%;
    height: auto;
margin-left: auto;
margin-right: auto;
justify-content: space-evenly ;}

.groceryChecks {
    /* float: right; */
    width: 20px;
    height: 20px;
    margin-left: 15px;
 }

 

 #ingredientName {
     width: 75%;
 }

