/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
select {
  color: white;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color:#e9c46a;
  color: #264653;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  color: #264653;
}

p {
  margin-bottom: 1.5em;
  color: #264653;
  color: #264653;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

.detailsBox {
  display:flex;
  justify-content: space-between;
}
aside {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

img {
  display: inline-block;
  max-width:500px;
  height:auto;
  }

  .imageContainer{
  text-align: center;
  }