.h1, h1 {
    font-size: 2.5rem;
   
}

.header, .second{
  text-align: center;
  font-weight: bolder;
}

fieldset {
min-width: 0;
padding: 1rem 0;
margin: 0;
border: 0;
}

.form--login {
display: inline-block;
margin: 0 auto;
margin-left: 1em;
text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {

width: 25em;
}

.label--login {
width: 8rem;
display: inline-block;
}

.form-control {
display: block;
width: 94%;
height: calc(1.5em + .75rem + 2px);
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
-webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
text-align: center;
}

.form--login {
background-position-x: right;

z-index: 1;
min-height: 25rem;
min-width: 45rem;
background-color: lightyellow;
background-blend-mode: overlay;
background-repeat: no-repeat;
padding: 5px;
flex-flow: column wrap;
border: solid 5px ;
margin: 10px

}

.button--close {
position: relative;
bottom: -2rem;
}

.dialog {
min-width: 15rem;
min-height: 5rem;
}



.form-gradient .header {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
  
  .form-gradient input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    -webkit-box-shadow: 0 1px 0 0 #fd9267;
    box-shadow: 0 1px 0 0 #fd9267; }
  
  .form-gradient input[type=text]:focus:not([readonly]) + label {
    color: #4f4f4f; }
  
  .form-gradient input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    -webkit-box-shadow: 0 1px 0 0 #fd9267;
    box-shadow: 0 1px 0 0 #fd9267; }
  
  .form-gradient input[type=password]:focus:not([readonly]) + label {
    color: #4f4f4f; }

   

