
  
  .ingredientList {
      width:auto;
      height: 25em;
      overflow-y: scroll;
      scrollbar-color: black;
      scrollbar-width: thin;
      border: .5px solid black;
      

  }

  .ingredientSearch{
    width: 100%;
    height: auto;
    margin: 5px;
  }

  aside{
    width: 55%;
  }

  .recipeIngredientForm__title
  {
    text-align: center;
  }

  

