
  
  .ingredientList {
      width:auto;
      height: 25em;
      overflow-y: scroll;
      scrollbar-color: black;
      scrollbar-width: thin;
      border: .5px solid black;
      

  }

  .ingredientSearch{
    width: 95%;
    height: auto;
    margin: 5px;
    justify-content: space-evenly;

  }

  aside{
    width: 55%;
  }

  .recipeIngredientForm__title
  {
    text-align: center;
  }
.chosenIngredientContainer{
  display: flex;
  flex-direction: column;
}
  .chosenIngredient {
    font-size: 28px;
    margin-right: 15px;
  }



#amount {
  width: 75%;
}

.searchBottom {
  border-bottom: lightyellow groove .1px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

